.card{
  height: 150px;
    width: 170px;
    padding: 20px 35px;
    background: #51d4d4;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}